:root{

  .footer-principal{
    background: var(--couleur-noir);
    text-align: center;
    color: var(--couleur-blanc);
  }

  .copyright{
    height: 144px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

}