:root{
  .interet{
  background-image: url("../../images/bg-interet.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  text-align:center;
  padding-top: 65px;
  padding-bottom: 80px;
}
}